body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTR92ElZQMT_5tqWdaA-AB2HnEfOMwD-lEkw&s);
}

h1{
	color: white;
font-size: 50x;

  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
    background-color: #2780F5;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; /*Distribuye los elementos equitativamente */
    padding: 0;
}

li {
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

li:hover{
  transition: 250ms;
  background-color: #27F55E;
}